*
{
	margin: 0px;
	padding: 0px;
}

.body
{
	background-color: #add8e6;
}

.enunt
{
	margin: auto;
	padding: 50px;
}

.enunt h3
{
	text-align: center;
	color: navy;
}
.mainDiv
{
	height: 600px;
	width: 900px;
	margin: auto;
}

.st0 {
    color: Red;
    /*background-color: white;*/
  
  }
  
.st1 {
   
    color: white;
  }