#main
{
	display: inline-block;
	width: 800px;
	text-align : center;
}
#p
{

	display: inline-block;
	width: 800px;
	text-align : center;
	
}
h3
{
	display: inline-block;
	width: 800px;
	text-align : center;
}